{% extends "baseAuth.html" %}

{% block card %}
<p>
<h2 align="center">{{ text }}</h2>

<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <p></p>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">TELEGRAM</h5>
                <p class="card-text">Добавьте распознавание аудиосообщений из телеграмма.</p>
                <a href="addservice/telegram/" class="btn btn-primary">Подключить</a>
            </div>
        </divЮ
    </div>

{% endblock %}